# Ambientes virtuais
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Dados brutos e temporários
data/external/
data/processed/

# Arquivos do VS Code
.vscode/
*.code-workspace

# Notebooks temporários/output
*.ipynb_checkpoints
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos do sistema do Windows
desktop.ini
